<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "common/common :: commons(~{::title})">
        <title>入住人员统计表</title>
    </head>
    <body>
        <div class="x-body">
            <blockquote class="layui-elem-quote">
            </blockquote>
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 50%;height:400px;">

            </div>

        </div>
        <script src="//cdn.bootcss.com/echarts/3.3.2/echarts.min.js" charset="utf-8"></script>
        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var date = new Date();
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '入住人员统计图'
            },
            tooltip: {
            },
            legend: {
                data:[''+date.getFullYear()+'']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name:'单位：人'
            },
            series: [
                {
                    name:'',
                    type:'line'
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        myChart.showLoading();
        var names = [];
        var nums = [];

        var years = [];
        $.ajax({
            type:"post",
            url:"/dangxia/statistics/getStayStatistics",
            timeout:5000,
            data:{'year':date.getFullYear()},
            dataType: "json",
            success: function(dat){
                if(dat.code == 200) {
                    $.each(dat.data,function(i,v) {
                        nums.push(v.peopleCount);
                        names.push(v.month+"月");
                    });
                    myChart.hideLoading();
                    myChart.setOption({
                        xAxis: {
                            data: names
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: date.getFullYear(),
                            data: nums
                        }]
                    });
                } else {
                    layer.msg("系统异常",{icon:5,time:2000});
                }
            },
            complete:function(XMLHttpRequest, status) {
                if(status == "timeout") {
                    layer.msg("请求超时",{icon:5,time:2000});
                }
            }
        });

    </script>
    </body>
</html>