<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.dangxia.dao.rent.IRentDao">
    <insert id="insertRentRecord" parameterType="map">
      INSERT INTO
        user_rent_record
              (
                user_id,
                room_id,
                people_rent,
                pay_rent,
                pay_pattern,
                pay_pic,
                start_date,
                end_date,
                payment_date,
                created_date,
                created_user,
                rent_remark
              )
        VALUES
            (
             #{userId, jdbcType = INTEGER},
             #{roomId, jdbcType = INTEGER},
             #{peopleRent, jdbcType = DOUBLE},
             #{payRent, jdbcType = DOUBLE},
             #{payPattern, jdbcType = VARCHAR},
             #{payPic, jdbcType = VARCHAR},
             #{startDate, jdbcType = DATE},
             #{endDate, jdbcType = DATE},
             #{paymentDate, jdbcType = DATE},
             NOW(),
             #{createUser, jdbcType = VARCHAR},
             #{rentRemark, jdbcType = VARCHAR}
            )
    </insert>
    <!--获得租金记录-->

</mapper>