<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head th:replace= "common/common :: commons(~{::title})">
  <title>线下交租</title>
  </head>
  <body>
    <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">缴纳管理</a>
            <a>
              <cite>线下交租</cite></a>
          </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
          <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form layui-col-md12 x-so">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="userCard" id="userCard" style="width: 300px;"  placeholder="输入证件号查询房客信息" autocomplete="off" class="layui-input">
                    <button class="layui-btn" type="button" onclick="getUserInfo()" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </form>

        <form class="layui-form" lay-filter="form_rent">

          <div class="layui-form-item">
              <label for="realName" class="layui-form-label">
                  <span class="x-red">*</span>姓名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="realName" name="realName" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="roomNum" class="layui-form-label">
                  <span class="x-red">*</span>房间号
              </label>
              <div class="layui-input-inline">
                  <input type="hidden" name="roomId" class="layui-input"/>
                  <input type="text" id="roomNum" name="roomNum" lay-verify="number"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>续租时长(月)
            </label>
            <div class="layui-input-inline">
                <input type="text" id="month" name="month" lay-verify="number"
                       autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
                <label for="payRent" class="layui-form-label">
                    <span class="x-red">*</span>缴纳金额
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="payRent" name="parRent" required="" lay-verify="number"
                           autocomplete="off" class="layui-input">
                </div>
          </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>支付方式
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="payPattern" name="payPattern" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" placeholder="现金/支付宝/微信/其他">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <textarea name="rentRemark" style="width: 300px" placeholder="备注" class="layui-textarea"></textarea>
                </div>
            </div>
          <div class="layui-form-item">
              <div class="layui-input-block">
                  <button  class="layui-btn" lay-filter="add" id="addBtn" lay-submit="">
                      提交
                  </button>
              </div>

          </div>
      </form>
    </div>
    <div style="display: none;text-align:center;line-height: 30px;font-size: 13px;color: #393D49;padding-left: 10px" id="rentUser">
        <!--到期时间-->
        <div class="rentDate" style="text-align: left"></div>
        <!--每月应缴-->
        <div class="rentMoney" style="text-align: left"></div>
    </div>
    <script>
        layui.use(['form','layer','code','laydate'], function(){
            $ = layui.jquery;
          form = layui.form;
          layer = layui.layer;
          laydate = layui.laydate;
          laydate.render({
            elem: '#startDate', //指定元素
            trigger:'click'
            });
          laydate.render({
            elem: '#endDate', //指定元素
            trigger:'click'
             });

          // 监听提交
          form.on('submit(add)', function(data){
              $("#addBtn").css("disabled",true);
              var layerLoad = layer.load(2, {
                shade: [0.4,'#3C3C3C'],
                  time:5000
              });
             $.ajax({
                type:"post",
                url:"/dangxia/stay/insertStayInfo",
                timeout:5000,
                //contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                //contentType: 'application/json;charset=UTF-8',
                data:
                {
                "realName":data.field.realName,
                "userAge":data.field.userAge,
                "userSex":data.field.userSex,
                "userCard":data.field.userCard,
                "userPhone":data.field.userPhone,
                "roomId":data.field.roomId.split(",")[0],
                "peopleRent":data.field.roomId.split(",")[0],
                "startDate":data.field.startDate,
                "endDate":data.field.endDate,
                "depositAmount":data.field.depositAmount,
                "payRent":data.field.payRent,
                "payPattern":data.field.payPattern,
                "userAddr":data.field.province+data.field.city+data.field.area,
                "stayRemark":data.field.stayRemark
                },
                dataType: "json",
                success: function(dat){
                    if(dat.code == 0) {
                        layer.msg(dat.message,{icon:1,time:2000},function() {
                            layer.close(layerLoad);
                            parent.layer.closeAll();
                            window.parent.location.reload();
                        });
                    } else {
                        layer.msg(dat.message,{icon:5,time:2000},function() {
                            layer.close(layerLoad);
                        });
                    }
                    $("#addBtn").css("disabled",false);
                },
                 error:function(e){
                     layer.msg(e.message,{icon:5,time:2000});
                     $("#addBtn").css("disabled",false);
                     layer.close(layerLoad);
                 },
                 complete:function(XMLHttpRequest, status) {
                     if (status == 'timeout') {//status == 'timeout'意为超时,status的可能取值：success,notmodified,nocontent,error,timeout,abort,parsererror
                         layer.msg("请求超时。",{icon:5,time:2000});
                     }
                 }
          }
            );
            return false;
          });
        });
        function getUserInfo() {
            if($("#userCard").val() == null || $.trim($("#userCard").val()) == "") {
                return;
            }
            var layerLoad = layer.load(2, {
                shade: [0.4,'#3C3C3C'],
                time:5000
            });
            $.ajax({
                type:'post',
                url:'/dangxia/rent/getRentUserInfoByCondition',
                timeout:5000,
                data:{"userCard":$("#userCard").val()},
                dataType:'json',
                success:function(data) {
                    if(data.code == 200) {
                        layer.close(layerLoad);
                        $(".rentDate").html("房租到期时间："+data.data.end_date);
                        $(".rentMoney").html("每月应缴纳￥"+data.data.people_rent);
                        var rentindex = layer.open({
                            type:1,
                            shadeClose:true,
                            area:['300px','200px'],
                            shade:0.4,
                            title:'提示',
                            content:$('#rentUser')
                        });
                        form.val("form_rent",
                        {
                            "realName":data.data.real_name,
                            "roomNum":data.data.room_num
                        }
                        );
                    } else {
                        layer.msg(data.msg,{icon:5,time:2000});
                        layer.close(layerLoad);
                    }
                },
                complete:function(XMLHttpRequest, status) {
                    if(status == "timeout") {
                        layer.msg("请求超时",{icon:5,time:2000});
                    }
                    layer.close(layerLoad);
                }
            });
        }
    </script>
  </body>

</html>