<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head th:replace= "common/common :: commons(~{::title})">
  <title>住房记录</title>
</head>
  
  <body class="">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">缴费管理</a>
        <a>
          <cite>交租记录</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>

    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input"  autocomplete="off" placeholder="开始日" name="startDate" id="start">
          <input class="layui-input"  autocomplete="off" placeholder="截止日" name="endDate" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <table class="layui-table" lay-filter="room" id="roomtab"></table>
    </div>
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">

      </div>
    </script>
    <script type="text/html" id="tabBar">
      <a title="编辑"  onclick="x_admin_show('编辑','admin-oper.html')" href="javascript:;">
        <i class="layui-icon">&#xe642;</i>
      </a>
      <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
        <i class="layui-icon">&#xe640;</i>
      </a>
    </script>
    <script>
      layui.use(['layer','laydate','table'], function(){
        var laydate = layui.laydate;
        $ = layui.jquery;
        var table = layui.table;
        layer = layui.layer;
        var form = layui.form;
        //加载数据表格
          table.render({
              elem: '#roomtab'
              ,height: 'full-20'
              ,url: '/dangxia/rent/getRentRecordByCondition' //数据接口
              ,method:'post'
              ,page: true //开启分页
              ,limits:[10,15,20,25]
              ,limit:15
              ,defaultToolbar:['filter', 'print', 'exports']
              ,toolbar:'#toolbarDemo'
              ,cols: [
                  [
                      {type:"checkbox"}
                      ,{field: 'user_id', title: '租客ID', align:'center'}
                      ,{field: 'real_name', title: '租客姓名', align:'center'}
                      ,{field: 'room_num', title: '房间号', align:'center'}
                      ,{field: 'pay_rent', title: '交租金额￥', align:'center'}
                      ,{field: 'people_rent', title: '应交金额￥', align:'center'}
                      ,{field: '', title: '租金到期时间', align:'center', templet:function (d) {
                          return d.end_date;
                    }}
                      ,{field: 'payment_date', title: '交租时间', align:'center'}
                      ,{field: '', title: '所在楼栋', align:'center', templet:function(d) {
                          return d.area_name+d.neighbourhood+d.building_name;
                      }}
                      ,{field: '', title: '当前状态', align:'center',templet:function(d) {
                        return d.is_del == 0?"<span class='greencell'>入住中</span>":"<span class='redcell'>已离宿</span>";
                      }}
                    ,{field: 'created_user', title: '操作人', align:'center'}
                    ,{field: 'created_date', title: '处理时间', align:'center'}
                    ,{field: '', title: '转账截图', align:'center',templet:function(d) {
                        var url = d.pay_pic;
                        if(url != null) {

                          return "<a href=\"javascript:;\" onclick=\"BigImg('"+url+"')\"><img src='"+d.pay_pic+"'/></a>"
                        }
                        return "暂无截图";
                    }}
                    ,{fixed: 'right', toolbar:'#tabBar',title: '操作',align:'center', width: 80}
                  ]
              ]
          });
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      /*放大图片*/
      function BigImg(url) {
        layer.open({
          type: 1,
          title: false,
          closeBtn: 0,
          shadeClose: true,
          area: [400, 300], //宽高
          content: "<img src=" + url + " />"
        });
      }
      /*用户-停用*/
      function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
          if($(obj).attr('title')=='启用'){

            //发异步把用户状态进行更改
            $(obj).attr('title','停用')
            $(obj).find('i').html('&#xe62f;');

            $(obj).parents("tr").find(".span-status").addClass('layui-btn-disabled').html('已停用');
            layer.msg('已停用!',{icon: 5,time:1000});

          }else{
            $(obj).attr('title','启用')
            $(obj).find('i').html('&#xe601;');

            $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
            layer.msg('已启用!',{icon: 5,time:1000});
          }

        });
      }
    </script>
  </body>

</html>