<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head th:replace= "common/common :: commons(~{::title})">
  <title>待交租租客</title>
</head>
  
  <body class="">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">缴费管理</a>
        <a>
          <cite>待交租房客</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>

    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input"  autocomplete="off" placeholder="开始日" name="startDate" id="start">
          <input class="layui-input"  autocomplete="off" placeholder="截止日" name="endDate" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <table class="layui-table" lay-filter="rentUserTab" id="rentUserTab"></table>
    </div>
    <div style="display: none;padding: 10px;" id="rent_div">
        <form class="layui-form" lay-filter="rent_oper">
          <div class="layui-form-item">
            <label for="rentDays" class="layui-form-label">
              <span class="x-red">*</span>续租时长(月)
            </label>
            <div class="layui-input-inline">
              <input type="text" id="rentDays" name="rentDays" lay-verify="number"
                     autocomplete="off" placeholder="续租月数"  class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="rentMoney" class="layui-form-label">
              <span class="x-red">*</span>缴纳金额(￥)
            </label>
            <div class="layui-input-inline">
              <input type="text" id="rentMoney" name="rentMoney" lay-verify="number"
                     autocomplete="off" placeholder="￥"  class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button  class="layui-btn" lay-submit lay-filter="addRent" id="addRent">
                提交
              </button>
            </div>

          </div>
        </form>
    </div>

    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">

      </div>
    </script>
    <script type="text/html" id="tabBar">
      <a title="交租" lay-event="rent_oper" href="javascript:;">
        <button class="layui-btn layui-btn-normal">缴纳租金</button>
      </a>
      <a title="缴费" lay-event="pay_oper" href="javascript:;">
        <button class="layui-btn layui-btn-normal">水电费用</button>
      </a>
    </script>
    <script>
      layui.use(['layer','laydate','table'], function(){
        var laydate = layui.laydate;
        $ = layui.jquery;
        var table = layui.table;
        layer = layui.layer;
        var form = layui.form;
        //加载数据表格
        table.render({
              elem: '#rentUserTab'
              ,height: 'full-20'
              ,url: '/dangxia/rent/getToPayRentUser' //数据接口
              ,method:'post'
              ,page: true //开启分页
              ,limits:[10,15,20,25]
              ,limit:15
              ,defaultToolbar:['filter', 'print', 'exports']
              ,toolbar:'#toolbarDemo'
              ,cols: [
                  [
                      {field: 'user_id', title: '租客ID', align:'center'}
                      ,{field: 'real_name', title: '租客姓名', align:'center'}
                      ,{field: '', title: '所在楼栋', align:'center', templet:function(d) {
                        return d.area_name+d.neighbourhood+d.building_name;
                      }}
                      ,{field: 'room_num', title: '房间号', align:'center'}
                      ,{field: 'people_rent', title: '应交金额￥/月', align:'center'}
                      ,{field: 'end_date', title: '租金到期时间', align:'center'}
                      ,{field: '', title: '当前状态', align:'center', templet:function(d) {
                          if(d.days < 0) {
                              return "<span class='x-red'>已逾期"+d.days+"</span>";
                          } else {
                            return "<span class='greencell'>还有"+d.days+"天到期</span>";
                      }
                    }}
                    ,{fixed: 'right', toolbar:'#tabBar',title: '操作',align:'center'}
                  ]
              ]
          });
        table.on('tool(rentUserTab)',function(obj) {
            var layEvent = obj.event;
            if(layEvent == 'rent_oper') {
              layer.open({
                type:1,
                title:'缴纳房租',
                content:$("#rent_div")
              });
              $('#rentDays').bind('input propertychange', function() {
                $('#rentMoney').val($("#rentDays").val() * obj.data.people_rent);
              });
            }
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
    </script>
  </body>

</html>