<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.dangxia.dao.system.IEmployeeDao">
    <!--java类与数据库字段进行映射-->
    <resultMap id="employeeMap" type="com.wxc.dangxia.entity.Employee">
        <id property="empId" column="emp_id"/>
        <result property="empLoginName" column="emp_login_name"/>
        <result property="empName" column="emp_name"/>
        <result property="empPassword" column="emp_password"/>
        <result property="empSex" column="emp_sex"/>
        <result property="empPhone" column="emp_phone"/>
        <result property="empStatus" column="emp_status"/>
        <result property="addTime" column="add_time"/>
        <result property="isDel" column="is_del"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="operId" column="oper_id"/>
    </resultMap>
    <sql id="employeeField">
        emp_id,emp_login_name,emp_name,emp_password,emp_sex,emp_phone,emp_status,add_time,is_del,is_admin
    </sql>

    <!--通过emp_loginname 获得数据-->
    <select id="getEmployeeByName" parameterType="string" resultMap="employeeMap">
        SELECT
          <include refid="employeeField"></include>
        FROM employee
        WHERE
          emp_login_name=#{empLoginName}
        AND is_del = 0
        AND emp_status = 1
    </select>
</mapper>