<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.dangxia.dao.system.IPermissionDao">
    <!--数据库字段-->
    <sql id="permissionField">
        id,permi_title,permi_name,permi_url,permi_describe,permi_parent_id,permi_type,createtime,status,seq
    </sql>
    <!--根据角色id查询权限字段-->
    <sql id="getRolePermissionByIdField">
        per.id,permi_title,permi_name,permi_url,permi_describe,permi_parent_id,permi_type,createtime,status,seq
    </sql>
    <!--自定义字段名 用于前端框架的 treetable-->
    <sql id="permissionTableField">
        id,permi_title title,permi_name permiName,permi_url permiUrl,permi_describe permiDescribe,permi_parent_id pid,permi_type permiType,createtime,status,seq
    </sql>
    <!--java类与数据库字段进行映射-->
    <resultMap id="permissionMap" type="com.wxc.dangxia.entity.Permission">
        <id property="id" column="id"></id>
        <result property="permiTitle" column="permi_title"></result>
        <result property="permiName" column="permi_name"></result>
        <result property="permiUrl" column="permi_url"></result>
        <result property="permiDescribe" column="permi_describe"></result>
        <result property="permiParentId" column="permi_parent_id"></result>
        <result property="permiType" column="permi_type"></result>
        <result property="createtime" column="createtime"></result>
        <result property="status" column="status"></result>
        <result property="seq" column="seq"></result>
    </resultMap>
    <!--查询所有的权限   Status 空为所有 0为启用 1为禁用-->
    <select id="getPermissionAll" parameterType="integer" resultType="map">
        SELECT <include refid="permissionTableField"></include> FROM tbl_permission
        <if test="status !=null">
            WHERE status = #{status}
        </if>
        ORDER BY permi_type ASC,seq ASC
    </select>
    <!--更新权限的状态 status 0为启用 1为禁用-->
    <update id="updatePermissionStatus" parameterType="integer">
        UPDATE tbl_permission SET status = #{status} WHERE id = #{id}
    </update>
    <!--插入一条新权限-->
    <insert id="addPermission" parameterType="com.wxc.dangxia.entity.Permission">
        INSERT INTO tbl_permission (id,permi_title,permi_name,permi_url,permi_describe,permi_parent_id,permi_type,createtime,seq)
         VALUES (NULL ,#{permiTitle}
                 <if test="permiName ==null or permiName==''">
                    , ''
                 </if>
                <if test="permiName !=null and permiName!=''">
                    ,#{permiName}
                </if>
                <if test="permiUrl ==null or permiUrl==''">
                    , ''
                </if>
                <if test="permiUrl !=null and permiUrl!=''">
                    ,#{permiUrl}
                </if>
                ,#{permiDescribe},#{permiParentId},#{permiType},NOW(),#{seq}
                 )
    </insert>
    <!--更新权限信息-->
    <update id="updatePermissionById" parameterType="com.wxc.dangxia.entity.Permission">
        UPDATE tbl_permission SET permi_title=#{permiTitle},permi_parent_id=#{permiParentId},permi_name=#{permiName},permi_url=#{permiUrl},seq=#{seq},permi_describe=#{permiDescribe} WHERE id=#{id}
    </update>
    <!--通过ID获得子权限 static 空为所有 1为启用 0为禁用-->
    <select id="getChildPermissionById" parameterType="integer" resultMap="permissionMap">
        SELECT <include refid="permissionField"></include> FROM tbl_permission WHERE permi_parent_id = #{id}
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
    </select>
    <!--删除权限-->
    <delete id="deletePermissionById" parameterType="integer">
        DELETE FROM tbl_permission WHERE id = #{id}
    </delete>
    <!--通过角色Id获得角色权限-->
    <select id="getRolePermissionById" parameterType="integer" resultMap="permissionMap">
        SELECT <include refid="getRolePermissionByIdField"></include> FROM tbl_role_permission role JOIN tbl_permission  per ON role.permi_id=per.id WHERE role.role_id=#{id}
    </select>
    <!--通过员工id获得所有的权限-->
    <select id="getHavePermissionById" parameterType="integer" resultType="map">
        SELECT DISTINCT tbl_permission.id,tbl_permission.permi_title title,tbl_permission.permi_name permiName,tbl_permission.permi_url permiUrl,tbl_permission.permi_describe permiDescribe,tbl_permission.permi_parent_id pid,tbl_permission.permi_type permiType,tbl_permission.createtime,tbl_permission.`status`,tbl_permission.seq FROM tbl_emp_role JOIN tbl_role ON tbl_emp_role.role_id = tbl_role.id JOIN tbl_role_permission ON tbl_role.id = tbl_role_permission.role_id  JOIN tbl_permission ON tbl_role_permission.permi_id = tbl_permission.id WHERE tbl_permission.`status`=0 AND tbl_role.`status`=0 AND tbl_emp_role.emp_id=#{id} ORDER BY tbl_permission.permi_type ASC ,tbl_permission.seq ASC
    </select>
    <!--通过员工登录名获得所有的权限-->
    <select id="getHavePermissionByEmpLoginName" parameterType="string" resultType="map">
        SELECT DISTINCT tbl_permission.id,tbl_permission.permi_title title,tbl_permission.permi_name permiName,tbl_permission.permi_url permiUrl,tbl_permission.permi_describe permiDescribe,tbl_permission.permi_parent_id pid,tbl_permission.permi_type permiType,tbl_permission.createtime,tbl_permission.`status`,tbl_permission.seq FROM tbl_employee JOIN tbl_emp_role ON tbl_employee.id=tbl_emp_role.emp_id JOIN tbl_role ON tbl_emp_role.role_id = tbl_role.id JOIN tbl_role_permission ON tbl_role.id = tbl_role_permission.role_id  JOIN tbl_permission ON tbl_role_permission.permi_id = tbl_permission.id WHERE tbl_permission.`status`=0 AND tbl_role.`status`=0 AND tbl_employee.emp_loginname=#{empLoginName} ORDER BY tbl_permission.permi_type ASC ,tbl_permission.seq ASC
    </select>
    <!--删除权限角色表有关权限Id的所有有关数据-->
    <delete id="deleteRolePermissionByPermissionId" parameterType="integer">
        DELETE FROM tbl_role_permission WHERE permi_id = #{id}
    </delete>
</mapper>