<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head th:replace= "common/common :: commons(~{::title})">
  <title>租客信息管理</title>
</head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">租客管理</a>
        <a>
          <cite>租客信息</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" lay-filter="searchForm">
          <input class="layui-input"  autocomplete="off" placeholder="开始入住时间" name="startDate" id="start">
          <input class="layui-input"  autocomplete="off" placeholder="到期时间时间" name="endDate" id="end">
          <input type="text" name="realName"  placeholder="姓名" autocomplete="off" class="layui-input">
          <input type="text" name="userPhone"  placeholder="手机号" autocomplete="off" class="layui-input">
          <div class="layui-inline">
            <select name="liveStatus" lay-filter="liveStatus">
              <option value=""></option>
              <option value="1">入住中</option>
              <option value="2">已离宿</option>
              <option value="3">其他</option>
            </select>
          </div>

          <button class="layui-btn"  lay-submit lay-filter="user_search"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <table class="layui-table" lay-filter="userInfoTab" id="userInfoTab"></table>
    </div>
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
      </div>
    </script>
    <script type="text/html" id="tabBar">
      <a title="编辑" lay-event="user_edit" href="javascript:;">
        <i class="layui-icon">&#xe642;</i>
      </a>
      <a title="删除" lay-event="user_del" href="javascript:;">
        <i class="layui-icon">&#xe640;</i>
      </a>
    </script>
    <script>
      layui.use(['layer','laydate','table'], function(){
        var laydate = layui.laydate;
        $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        //加载数据表格
        table.render({
            elem: '#userInfoTab'
            ,height: 'full-20'
            ,url: '/dangxia/user/getUserInfoByCondition' //数据接口
            ,method:'post'
            ,page: true //开启分页
            ,limits:[10,15,20,25]
            ,limit:15
            ,defaultToolbar:['filter', 'print', 'exports']
            ,toolbar:'#toolbarDemo'
            ,cols: [
                [
                    {type:"checkbox"}
                    ,{field: 'real_name', title: '真实姓名', align:'center'}
                    ,{field: 'user_age', title: '年龄', align:'center', templet:function(d) {
                        return d.user_age+"岁";
                  }}
                    ,{field: 'user_sex', title: '性别', align:'center'}
                    ,{field: 'user_phone', title: '手机号', align:'center'}
                    ,{field: 'user_addr', title: '家庭地址', align:'center'}
                    ,{field: 'room_num', title: '所住房间号', align:'center'}
                    ,{field: 'end_date', title: '到期时间', align:'center'}
                    ,{field: 'live_status', title: '当前状态', align:'center'}
                    ,{fixed: 'right', toolbar:'#tabBar',title: '操作',align:'center', width: 80}
                ]
            ]
        });
        table.on('tool(userInfoTab)',function(obj) {
          var layEvent = obj.event;
          if(layEvent == 'user_del') {
            if(obj.data.status_code == 1) {
                layer.msg("该用户在入住中。",{icon:5,time:2000});
                return;
            }
            member_del(obj,obj.data.user_id);
          }
          if(layEvent == 'user_edit') {
              data = {data:obj.data};
              x_admin_show('编辑用户','/dangxia/user/toUserOper');
          }
        });
        form.on('submit(user_search)',function(obj) {
            console.log(obj);
            table.reload('userInfoTab', {
                url : '/dangxia/user/getUserInfoByCondition',
                method : 'post',
                where : {
                    startDate : obj.field.startDate,
                    endDate : obj.field.endDate,
                    userPhone : obj.field.userPhone,
                    realName : obj.field.realName,
                    liveStatus : obj.field.liveStatus
                }
            });
            return false;
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      /*用户-停用*/
      function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
          if($(obj).attr('title')=='启用'){

            //发异步把用户状态进行更改
            $(obj).attr('title','停用')
            $(obj).find('i').html('&#xe62f;');

            $(obj).parents("tr").find(".span-status").addClass('layui-btn-disabled').html('已停用');
            layer.msg('已停用!',{icon: 5,time:1000});

          }else{
            $(obj).attr('title','启用')
            $(obj).find('i').html('&#xe601;');

            $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
            layer.msg('已启用!',{icon: 5,time:1000});
          }

        });
      }
      /*删除用户*/
      function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
          //发异步删除数据
          $.ajax({
            type:"post",
            url:"/dangxia/user/deleteUserByUserId",
            timeout:5000,
            data: {"userId":id},
            dataType: "json",
            success: function(data){
              if(data.code == 200) {
                obj.del();
                layer.msg(data.msg,{icon:1,time:2000});
              } else {
                layer.msg(data.msg,{icon:5,time:2000});
              }
            },
            complete:function(XMLHttpRequest, status) {
              if(status == "timeout") {
                layer.msg("请求超时",{icon:5,time:2000});
              }
            }
          });
        });
      }
    </script>
  </body>

</html>