<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.dangxia.dao.user.IUserDao">
    <!--录入个人入住信息-->
    <insert id="insertUserInfo" parameterType="map">
        <selectKey keyColumn="user_id" keyProperty="userId" order="AFTER"
                   resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
          user
            (
              user_phone,
              password,
              real_name,
              user_addr,
              user_sex,
              user_age,
              user_card,
              created_user,
              created_date,
              live_status
            )
        VALUES(
          #{userPhone},
          #{passworrd},
          #{realName},
          #{userAddr},
          #{userSex},
          #{userAge},
          #{userCard},
          #{createdUser},
          NOW(),
          1
        )
    </insert>
    <!--根据条件获得租客信息-->
    <select id="getUserInfoByCondition" resultType="map" parameterType="map">
        SELECT
          u.user_id,
          u.user_phone,
          u.password,
          u.real_name,
          u.user_addr,
          u.user_sex,
          u.user_age,
          u.user_card,
          DATE_FORMAT(usr.end_date, '%Y-%m-%d %h:%i:%s') as end_date,
          DATE_FORMAT(u.created_date, '%Y-%m-%d %h:%i:%s') as created_date,
          r.room_num,
          CASE u.live_status
          WHEN 1 THEN '入住中'
          WHEN 2 THEN '已离宿'
          WHEN 3 THEN '游离人员'
          END AS 'live_status'
        FROM user u
        LEFT JOIN room_user ru ON(ru.user_id = u.user_id)
        LEFT JOIN room r ON(ru.room_id = r.room_id)
        LEFT JOIN (
          SELECT
            end_date,
            user_id
          FROM user_stay_record
          ORDER BY end_date DESC
          LIMIT 1
        ) usr ON(u.user_id = usr.user_id)
        ORDER BY created_date DESC
    </select>
    <select id="getCountByCondition" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM user u
        LEFT JOIN room_user ru ON(ru.user_id = u.user_id)
        LEFT JOIN room r ON(ru.room_id = r.room_id)
        <where>
            <if test="userPhone != null and userPhone != ''">
                u.user_phone = #{userPhone}
            </if>
            <if test="userCard != null and userCard != ''">
                AND u.user_card = #{userCard}
            </if>
        </where>
    </select>
    <!--获得待交租人员-->
    <select id="getToPayRentUser" resultType="map" parameterType="map">
      SELECT
        u.realname,
        rr.room_rent,
        r.people_rent
      FROM user u
      LEFT JOIN user_rent_record urr ON(u.user_id = urr.user_id)
      LEFT JOIN
       (
         SELECT
             user_rent_record_id,
             user_id,
             room_id,
             rent_money,
             start_date,
             end_date
         FROM
             user_rent_record
         ORDER BY end_date DESC
         LIMIT 1
           ) rent_record rr ON(u.user_id = rr.user_id)
         LEFT JOIN room r ON(rr.room_id = r.room_id)
      WHERE
        u.is_del = 0
        <![CDATA[  AND DATEDIFF(NOW,urr.end_date) <= 7   ]]>
    </select>
    <!--根据条件获得人员缴费信息-->
    <select id="getRentUserInfoByCondition" resultType="map" parameterType="map">
        SELECT
          u.real_name,
          r.room_num,
          r.people_rent,
          urr.end_date
        FROM
          user u
        LEFT JOIN (
        SELECT
        user_rent_record_id,
        room_id,
        user_id,
        end_date
        FROM user_rent_record
        WHERE
        is_del = 0
        ORDER BY end_date DESC
        LIMIT 1
        ) urr ON(u.user_id = urr.user_id)
        LEFT JOIN room r ON(urr.room_id = r.room_id)
        <where>
            <if test="userCard != null and userCard != ''">
                u.user_card = #{userCard}
            </if>

        </where>
    </select>
</mapper>