<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.dangxia.dao.stay.IStayDao">
    <!--向入住记录表插入数据-->
    <insert id="insertStayRecord" parameterType="map">
        INSERT INTO
          user_stay_record
              (
                user_id,
                room_id,
                start_date,
                end_date,
                pay_status,
                created_date,
                created_user,
                stay_remark
              )
          VALUES
             (
                #{userId, jdbcType = INTEGER},
                #{roomId, jdbcType = INTEGER},
                #{startDate, jdbcType = DATE},
                #{endDate, jdbcType = DATE},
                #{payStatus, jdbcType = BIT},
                NOW(),
                #{createdUser, jdbcType = INTEGER},
                #{stayRemark}
              )
    </insert>
    <select id="getStayRecordByCondition" parameterType="map" resultType="map">
        SELECT
        usr.user_stay_record_id,
        usr.user_id,
        u.real_name,
        r.room_num,
        usr.created_user,
        DATE_FORMAT(usr.start_date, '%Y-%m-%d') start_date,
        DATE_FORMAT(usr.end_date, '%Y-%m-%d') end_date,
        DATE_FORMAT(
        usr.created_date,
        '%Y-%m-%d %h:%i:%s'
        ) created_date,
        DATE_FORMAT(
        usr.modify_date,
        '%Y-%m-%d %h:%i:%s'
        ) modify_date,
        usr.stay_remark,
        CASE u.live_status
        WHEN 1 THEN '入住中'
        WHEN 2 THEN '已离宿'
        END AS live_status,
        u.is_del,
        a.area_name,
        a.neighbourhood,
        b.building_name
        FROM
        user_stay_record usr
        LEFT JOIN user u ON (usr.user_id = u.user_id)
        LEFT JOIN room r ON (usr.room_id = r.room_id)
        LEFT JOIN building b ON (
        r.building_id = b.building_id
        )
        LEFT JOIN area a ON (a.area_id = b.building_id)
        <where>
          <if test="startDate != null and startDate != ''">
              <![CDATA[ DATE_FORMAT(usr.start_date, '%Y-%m-%d') >= DATE_FORMAT(#{startDate}, '%Y-%m-%d')   ]]>
          </if>
          <if test="endDate != null and endDate != ''">
              <![CDATA[  AND DATE_FORMAT(usr.end_date, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')   ]]>
          </if>
          <if test="realName != null and realName != ''">
              AND u.real_name like concat(concat('%',#{realName}),'%')
          </if>
        </where>
        ORDER BY usr.created_date DESC
    </select>
    <select id="getStayRecordCountByCondition" resultType="int" parameterType="map">
        SELECT
          count(*)
        FROM
          user_stay_record usr
        LEFT JOIN user u ON(usr.user_id = u.user_id)
        LEFT JOIN room r ON(usr.room_id = r.room_id)
        LEFT JOIN building b ON(r.building_id = b.building_id)
        LEFT JOIN area a ON(a.area_id = b.building_id)
    </select>

    <!--修改入住记录表-->
    <update id="updateStayRecord" parameterType="map">
        UPDATE
        user_stay_record
        <set>
            <if test="endDate != null">
                end_date = #{endDate, jdbcType = DATE},
            </if>
            <if test="isDel != null and isDel != ''">
                is_del = #{isDel, jdbcType = BIT}
            </if>
        </set>
        WHERE
        user_id = #{userId}
    </update>
</mapper>